@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'DM Sans', sans-serif;
}

.rainbow-gradient {
  background-image: linear-gradient(to top right, #4158d0, #c850c0, #ffcc70);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
