@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'DM Sans', sans-serif;
}

.rainbow-gradient {
  background-image: linear-gradient(to top right, #4158d0, #c850c0, #ffcc70);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes PopUp {
  0% {
    transform: scale(0);
  }
  
  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.animation-pop {
  animation: PopUp 0.3s ease-in-out;
}
